@use "../../styles/mixins";
@use "../../styles/variables" as *;

.slideshowContainer {
  @include mixins.flexbox();
  width: 100%;
  height: 415px;
  position: relative;
  @include mixins.medium-screen {
    height: 320px;
  }
  @include mixins.small-screen {
    height: 255px;
  }
  .slide {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: $border-radius-l;
    @include mixins.small-screen {
      border-radius: $border-radius-m;
    }
  }
  .arrow {
    position: absolute;
    top: 148px;
    color: $light-text-color;
    cursor: pointer;
    @include mixins.medium-screen {
      width: 28px;
      top: 128px;
    }
    @include mixins.small-screen {
      top: 118px;
      width: 12px;
    }
  }
  .previous {
    left: $spacing-xl;
    @include mixins.large-screen {
      left: $spacing-xxl;
    }
    @include mixins.small-screen {
      left: $spacing-l;
    }
  }
  .next {
    right: $spacing-xl;
    @include mixins.large-screen {
      right: $spacing-xxl;
    }
    @include mixins.small-screen {
      right: $spacing-l;
    }
  }
  .slideIndex {
    position: absolute;
    bottom: $spacing-xl;
    left: 50%;
    transform: translateX(-50%);
    color: $light-text-color;
    font-size: $font-size-l;
    @include mixins.medium-screen {
      bottom: $spacing-l;
    }
    @include mixins.small-screen {
      display: none;
    }
  }
}
