.b1 {
    background-color: red;
    border-left: 1px solid red;
}

.b2 {
    background-color: rgb(2, 80, 2);
    border-left: 1px solid rgb(2, 80, 2);
}

.b3 {
    background-color: blue;
    border-left: 1px solid blue;
}

.b4 {
    background-color: yellow;
    border-left: 1px solid yellow;
}

.b5 {
    background-color: purple;
    border-left: 1px solid purple;
}