// Colors
$primary-color: #FF6060;

$background-light: #ffffff;
$background-grey: #f6f6f6;
$backgroud-dark: black;

$main-text-color: #FF6060;
$dark-text-color: black;
$light-text-color: white;

// Fonts
$font-family: 'Montserrat', sans-serif;

$font-size-xxs: 10px;
$font-size-xs: 12px;
//il faut du 13px dans le collapse sur mobile !!! ne pas créer de variable...
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 24px;
$font-size-xxl: 36px;
$font-size-h1: 48px;

$font-weight-s: 300;
$font-weight-m: 500;
$font-weight-l: 700;

// Spacing
$spacing-xs: 5px;
$spacing-s: 10px;
$spacing-m: 15px;
$spacing-l: 20px;
$spacing-xl: 25px;
$spacing-xxl: 30px;
$spacing-section: 50px;

// Border Radius
$border-radius-s: 5px;
$border-radius-m: 10px;
$border-radius-l: 25px;

// Shadows / Linear
$box-shadow: 0px 4px 4px 0px #00000040;
$card-shadow:linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
$text-shadow:
1px 1px 0px black, 
-1px 1px 0px black, 
1px -1px 0px black, 
-1px -1px 0px black;
