@use "../../styles/mixins";
@use "../../styles/variables" as *;


.content {
    @include mixins.flexbox(column);
    max-width: 1240px;
    width: 100%;
    margin: auto;
    gap: $spacing-l;
    @include mixins.large-screen {
        padding: 0 $spacing-l;
    }
    @include mixins.small-screen {
        padding: 0 $spacing-l ;
    }
.rentalInfo {
 @include mixins.flexbox(row, space-between);
}
    .blocInfo {
        @include mixins.flexbox(column);
        gap: $spacing-l;

        .headerContainer {
            @include mixins.flexbox(column);
            gap: 2px;

            h1 {
                color: $primary-color;
                font-size: $font-size-xxl;
                font-weight: $font-weight-m;
            }
            p {
                font-size: $font-size-l;
            }
        }
        
        .tagContainer {
            @include mixins.flexbox();
            gap: $spacing-m;

            .tag {
                background: $primary-color;
                color: $light-text-color;
                padding: $spacing-xs $spacing-xl;
                border-radius: $border-radius-m;
                font-size: $font-size-s;
                font-weight: $font-weight-l;
            }
            
        }
    }

    .blocHost {
        @include mixins.flexbox(row, center, center, wrap);
        
        p {
            width: 60%;
            padding-right: $spacing-s;
            font-size: $font-size-l;
            font-weight: $font-weight-m;
            line-height: 26px;
            color: $main-text-color;
            text-align: right;
        }
       
        img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
        }
        
    }
}