@use "../../styles/mixins";
@use "../../styles/variables" as *;

.banner {
    @include mixins.flexbox(row, center, center);
    margin: $spacing-xxl auto ;
    max-width: 1240px;
    width: 100%;
    height: 223px;
    border-radius: $border-radius-l;
    background: $backgroud-dark;
    box-shadow: $box-shadow;
    @include mixins.large-screen {
        margin: $spacing-xxl;
    }
    @include mixins.medium-screen {
        height: 130px;
        border-radius: $border-radius-m;
    }
    @include mixins.small-screen {
        margin: $spacing-l;
       
        height: 111px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.6;
        border-radius: $border-radius-l;
        @include mixins.medium-screen {
            border-radius: $border-radius-m;
        }
    }
    h1 {
        position: absolute;
        font-size: $font-size-h1;
        color: $light-text-color;
        font-weight: $font-weight-l;
        text-shadow: $text-shadow;
        @include mixins.medium-screen {
            font-size: $font-size-xxl;
        }
        @include mixins.small-screen {
            @include mixins.flexbox(column);
            left: 40px;
            text-shadow: none;
            font-size: $font-size-xl;
        }
    }
}

// .cardContainer {
//     display: grid; 
//     grid-template-columns: repeat(3, 340px) ; 
//     grid-template-rows: auto;
//     justify-content: space-between;
//     gap: 30px;
//     box-sizing: border-box;
//     max-width: 1240px;
//     margin: auto;
//     background: #F6F6F6;
//     border-radius: 25px;
//     padding: 50px;
   
// }
