@use "../../styles/mixins";
@use "../../styles/variables" as *;


.cardContainer {
    display: grid; 
    grid-template-columns: repeat(3, 30%); 
    grid-template-rows: auto;
    justify-content: space-between;
    gap: $spacing-section;
    padding: $spacing-section;
    box-sizing: border-box;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto $spacing-section;
    background: $background-grey;
    border-radius: $border-radius-l;
    @include mixins.large-screen {
        gap: $spacing-xl;
        padding: $spacing-xxl;
    }
   @include mixins.medium-screen {
    grid-template-columns: repeat(2, 340px); 
    gap: $spacing-xxl;
    padding: $spacing-xxl;
    background: $background-light;
    justify-content: center;
    border-radius: 0;
   }
   @include mixins.small-screen {
    grid-template-columns: repeat(1, 100%); 
    padding: 17.5px;
    gap: $spacing-l;
   }
}